@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
  margin: 0;
  color: #708090;
  font-size: 16px;
  line-height: 1.5;
  font-family:"Montserrat",sans-serif;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
}


h1,
p,
ul {
	margin: 10px;
}

h2 {
	margin-top: 0;
  color:#708090;
}

h3{
  color:#AFEEEE;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-image : linear-gradient(to left top,#CCEEFF,#CCBBFF);
  font-family:"Audiowide",sans-serif;
}

nav li {
float: left;
}

nav li a {
  float: left;
  display: inline-block;
  font-size:21px;
  color: #F5F5F5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 25%;
}

nav li a:hover {
  color:#666666
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption,
footer {
  text-align: center;
}
